.tab{
	
	-fx-legend-side: right;
	
	/*-fx-background-color:radial-gradient( focus-angle 0.0deg, focus-distance 0.0%, center 50.0% 50.0%, radius 100.0%, rgb(230,230,230) 0.0, rgb(51,77,179) 100.0 )
	*/
}


.button:hover{
	
	-fx-background-color: rgb(171,183,214)
}
.button {
	-fx-background-color: linear-gradient( from 0.0% 0.0% to 0.0% 100.0%, rgb(179,204,255) 0.0, rgb(179,179,179) 100.0);
	
}



.root {
	-fx-background-color:rgb(113,135,177)
}

.label {
	 
}
.bast {
	  -fx-background-color: 
        #000000,
        linear-gradient(#7ebcea, #2f4b8f),
        linear-gradient(#426ab7, #263e75),
        linear-gradient(#395cab, #223768);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 12 30 12 30;
    -fx-text-fill: white;
    -fx-font-size: 20px;
	-fx-font-family:  "Arial Black";
	-fx-font-style: italic  ;
}
.bast:focused {
	  -fx-background-color: 
        #000000,
        
        
        linear-gradient(#395cab, #223768);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 12 30 12 30;
    -fx-text-fill: gray;
    -fx-font-size: 20px;
	-fx-font-family:  "Arial Black";
	-fx-font-style: italic  ;
}


.table-view .column-header,
.table-view .column-header-background .filler {
   -fx-background-color: 
        #000000,
        linear-gradient(#7ebcea, #2f4b8f),
        linear-gradient(#426ab7, #263e75),
        linear-gradient(#395cab, #223768);
    	-fx-font-family:  "Arial Black";
}
.table-view .column-header .label{
   -fx-text-fill: lightgray;
   -fx-font-weight: bold; 
   -fx-alignment: center;
   
}

.table-view .cell{
	-fx-alignment: center;
	-fx-text-alignment: center ;
	-fx-cell-size: 20pt;
	-fx-font-size: 11pt;
	-fx-text-fill: black;
}
.table-row-cell:focused,
.table-row-cell:odd:focused{

	-fx-background-color:darkcyan ;
	-fx-text-fill: white;
}
.table-row-cell{

	-fx-background-color: lightgray;
}
.table-row-cell:odd{
	
	-fx-background-color: silver;
	
	
   
}


